<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <form method='POST'action="/signup">

        <div>
            <p>Sign up</p>
        </div>

        <div>
            <input type="text" name="username" placeholder="username">
        </div>

        <div>
            <input type="text" name="email" placeholder="email">
        </div>
        
        <div>
            <input type="password" name="password" placeholder="password">
        </div>

        <div>
            <input type="submit">
        </div>
    </form>

    <a href="{{url_for('signin')}}">Sign in</a>

</body>
</html>