@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

html,  body
{
    margin: 0;
    height: 100%;
}

.bg
{
    background-image: url("keith.png");
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    
    height: 100%;
  
    background-position: center;
    background-repeat: repeat;
    background-size: cover; 
}

#card
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -400%);
}
.modal
{
    animation: fadeIn .5s;
    
}
